In [ ]:
import pandas as pd
import numpy as np

In [ ]:
iso = '2c9'
isoC= '2C9'
a2 = pd.read_csv('/content/CYP1A2_smiles_test.csv')
c19 = pd.read_csv('/content/CYP2C19_smiles_test.csv')
c9 =pd.read_csv('/content/CYP2C9_smiles_test.csv')
d6 = pd.read_csv('/content/CYP2D6_smiles_test.csv')
a4 = pd.read_csv('/content/CYP3A4_smiles_test.csv')
train = pd.read_csv('/content/CYP_smiles_train.csv')
isodata = c9

In [ ]:
isodata.shape

(665, 3)

In [ ]:

train.head()

,Name,Smiles,label_1a2,label_2c9,label_2c19,label_2d6,label_3a4
0,842250,Fc1ccc(Cn2nnnc2CN(Cc3cc4c(nc3O)cc5OCOc5c4)CCCO...,1.0,NaN,NaN,NaN,1.0
1,842319,S1/C(=C\2/c3c(N(C2=O)CC)cccc3)/C(=O)N(C1=S)CCCOC,1.0,1.0,NaN,0.0,NaN
2,842584,Clc1c(-c2nc([nH]n2)-c3ccccc3)cccc1,1.0,NaN,1.0,NaN,NaN
3,842618,O(c1c(C(N2CCN(CC2)Cc3ccncc3)c4n(nnn4)C(C)(C)C)...,NaN,1.0,1.0,NaN,1.0
4,842697,O(c1c(CNC(=O)Cn2nc(nn2)-c3ccncc3)cccc1)C,1.0,NaN,1.0,NaN,NaN

In [ ]:
train.shape

(13587, 7)

In [ ]:


add = train[['Name', 'Smiles', 'label_' + iso]]

add = add.rename(columns={"label_" + iso:"label"})
add.head()

     Name                                             Smiles  label
0  842250  Fc1ccc(Cn2nnnc2CN(Cc3cc4c(nc3O)cc5OCOc5c4)CCCO...    NaN
1  842319   S1/C(=C\2/c3c(N(C2=O)CC)cccc3)/C(=O)N(C1=S)CCCOC    1.0
2  842584                 Clc1c(-c2nc([nH]n2)-c3ccccc3)cccc1    NaN
3  842618  O(c1c(C(N2CCN(CC2)Cc3ccncc3)c4n(nnn4)C(C)(C)C)...    1.0
4  842697           O(c1c(CNC(=O)Cn2nc(nn2)-c3ccncc3)cccc1)C    NaN

In [ ]:
combined = pd.concat([isodata, add])
combined.shape

(14252, 3)

In [ ]:
combined = combined.dropna()
afterna = combined.shape[0]

In [ ]:
#check if duplicates are labeled differently 
combined = combined.drop_duplicates(subset='Smiles')
combined.shape

(9935, 3)

In [ ]:
active = combined[combined['label'] == 1]
active = active[['Name', 'Smiles']]
inactive = combined[combined['label'] == 0]
inactive = inactive[['Name', 'Smiles']]
patha = '/content/Smiles/' +isoC + '-active.smi'
pathb = '/content/Smiles/' +isoC + '-inactive.smi'
active.to_csv(patha, sep = ' ', header = None, mode = 'w', index = False)
inactive.to_csv(pathb, sep = ' ', header = None, mode = 'w', index = False)

In [ ]:
print(str(iso) + ' : The size of the ' + str(iso) + ' pei test set: ' + str(isodata.shape[0]) + '. The size of the pei training set is with data for all isoforms is ' + str(train.shape[0]) + '. After droping all NaN from combined test and train set: ' + str(afterna) + '. After dropping any duplicate smiles : ' + str(combined.shape[0]) + ' The final amount of actives are :' + str(active.shape[0]) + ' inactives :' + str(inactive.shape[0]))

2c9 : The size of the 2c9 pei test set: 665. The size of the pei training set is with data for all isoforms is 13587. After droping all NaN from combined test and train set: 10050. After dropping any duplicate smiles : 9935 The final amount of actives are :2603 inactives :7332